@media screen and (max-width: 768px) {
    html {
        font-size: 14px;
    }
}

@media screen and (min-width: 768px) {
    html {
        font-size: 20px;
    }
}

body {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    font-size: 1rem
}

header {
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #16D386;
    position: relative;
    color: #fff;
    font-weight: 800;
}

.back {
    position: absolute;
    padding-left: 10px;
}

.back:active {
    color: fuchsia
}

.content {
    border-top: 1px solid #EFEFEF;
    height: 48px;
    font-weight: bold;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 10px 0 10px;
}

.content span {
    margin-left: 10px;
}
#open{
	width: 40px;
    height: 22px;
   overflow: hidden;
   position: relative;
}
#open img{
   position: absolute; 
   left: 0px; 
   top: 0px;
}
.afternoon{
	left: 0px; 
   top: -22px !important;
}

div.where {
    display: block;
    text-align: center;
    line-height: 48px;
}

.top {
    position: absolute;
    top: 0;
    left: 50%;
}

.left {
    position: absolute;
    top: 50%;
    left: 0;
}

.right {
    position: absolute;
    top: 50%;
    right: 0
}

.bottom {
    position: absolute;
    bottom: 0;
    left: 50%;
}

.timePickWrap {
    position: relative;
    padding: 55px 40px 30px 40px;
}

.status{
	height: 105px;
	border-top: 1px solid #EFEFEF;
	border-bottom: 1px solid #EFEFEF;
	overflow-y: scroll;	
}
.status li{
	height: 35px;
	line-height: 35px;
	text-align: center;
	border-bottom: 1px solid #EFEFEF;
}
.status li:last-child{
	border-bottom: 0px;
}
.whereChoose{
    background-color: #d6d6d6
}