.timepicker_table {
    table-layout: fixed;
    width: 100%;
    text-align: center;
}

.timepicker_table td,
.top_table td {
    padding: 3%;
}

.datepicker_week {
    color: firebrick;
}

.timeTable_warp {
    font-weight: 700;
    width: 300%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translate3d(-33.33%, -33.33%, 0);
    transform: translate3d(-33.33%, -33.33%, 0)
    /*
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
*/
}

.tableWrap {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.datepicker_show {
    font-weight: 700;
    position: absolute;
    top: 30px;
    left: 40%;
}

.datepicker_otherMonth {
    color: #fff
}

.timepicker_table td {
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: #fff;
}

.timepicker_table td.timeChoose {
    border-radius: 50%;
    border: 2px solid #8cc3b6;
    background-color: #d3f2ea
}
.timepicker_table td.datepicker_today{
    background-color: #d3f2ea
}